
<div class="about-section">
  <h1 style="text-align:center">About Us Page</h1>
  <p style="text-align:center"> We are two flatiron students that created this page to help people find things to do near them with their friends.</p>

</div>

<br>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/w3images/team1.jpg" alt="Dani (insert pic)" style="width:100%">
      <div class="container">
        <h2>Daniel</h2>
        <p class="title">Engineer</p>
        <p>Rising sophmore from Ethiopia.</p>
        <p>daniel@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Eten(insert pic)" style="width:100%">
      <div class="container">
        <h2>Eten</h2>
        <p class="title">Engineer</p>
        <p>Rising sophmore from VA.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

