
<div class="log-form">
  <h2>Login to your account</h2>
  <form>
    <input type="text" title="username" placeholder="username" />
    <input type="password" title="username" placeholder="password" />
    <button type="submit" class="btn">Login</button>
    <a class="forgot" href="#">Forgot Username?</a>
  </form>
</div><!--end log form -->

<br>
<br>
<h2> Don't have an account? Sign up below </h2>
<a href="/users/new"> Sign up below </a>



<!-- This page creates the forms for when a user signs up with the application-->