<br>
<div class="d-flex align-items-center justify-content-center"> 
    <h1 align="center">Welcome to Medio</h1>
    <h2 align="center"> About Us </h2>
    <p align="center"> Dani and Eten are rising sophomores at Yale University. Dani is originally from Ethiopia  but currently resides in Minnesota. Eten currently lives in Virginia. This summer they enrolled in the flatiron school software engineering track  to tackle issues and develop new skill sets  as full web-stack developers. They are eager to continue improving their skills while in the flatiron school by creating new projects which apply and expand on  topics learned in class. When not in school, Dani enjoys listening to music while Eten loves to practice his guitar. </p>
</div>

<br>
<h2 align="center"> Let's Meet at Medio! </h2>
