
<h2> Choose where to meet: </h2>

<h3> Location 1: <%= @journey.point1 %> </h3>
<h3> Location 2: <%= @journey.point2 %> </h3>

<br>

<iframe
  width="800"
  height="400"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAmCf0SWHM3vMqJi6oCkLkPaRq3GJ57tis&q=Eiffel+Tower,Paris+France" allowfullscreen>
</iframe>